<!-- <p id="notice"><%= notice %></p>
 -->
<!-- <p>
  <strong>Hotel:</strong>
  <%= @user.hotel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->


<div class="signup-page">

	<div class="wrapper">
		<div class="logo"><%= image_tag('logo-light.png') %></div>
		<h2>Welcome to SimpleReview! Thank you for taking the time to sign up, we will contact you within 24 hours. </h2>
		<p>If you have any questions in the mean time, contact us at hello@simplereview.com</p>

		
	</div>
	
</div>

<div class="footer">
	<div class="wrapper">
		<div class="top-half">
			<div class="menu">
				<ul>
					<li>Company</li>
					<li>Pricing</li>
					<li>Contact Us</li>
				<!-- 	<li>Privacy Policy</li>
					<li>Terms of Use</li> -->
				</ul>
			</div>
			<div class="social"></div>
		</div>
		<div class="bottom-half">
			<p class="question">Questions? Email hello@simplereview.com</p>
			<p class="copyright">Copyright 2013 SimpleReview Inc.</p>
		</div>
	</div>
</div>
