<script src="typed.js"></script>
<script>
  $(function(){


  	  $(".element").typed({
        strings: ["First sentence.", "Second sentence."],
        typeSpeed: 20, // typing speed
        backDelay: 2000, // pause before backspacing
      });


  });
</script>

<div class="element"></div>

<div class="header">
	<div class="wrapper">
		<div class="logo"><%= image_tag('logo.png') %></div>
		<div class="button"><div class="login">Login</div></div>
		<ul class="menu">
			<li>About</li>
			<li>Pricing</li>
		</ul>
	</div>
</div>

<div class="main">
	<div class="wrapper">
		<h1 class="title">Grow your hotel business with good reviews</h1>
		<div class="right-box">
			<div class="text">Prevent bad online reviews before they happen, recieve more good reviews, and move up the rankings on Trip Advisor</div>
			<div class="reviews"><%= image_tag('reviews.png') %></div>
			<div class="button"><div class="signup">Start Free Trial Now</div></div>
		</div>
		<div class="bottom-box">
			<div class="learn-more">
				<div class="arrow"></div>
				<div class="text">Learn More</div>
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</div>

<div class="data">
	<div class="wrapper">
		<h2 class="title">Good Reviews Drive Business</h2>
		<div class="one-third">
			<h3>Increase Customers</h3>
			<p class="number">+25%</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="one-third">
			<h3>Increase Good Reviews</h3>
			<p class="number">34%</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="one-third">
			<h3>Increase Word of Mouth</h3>
			<p class="number">X12</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="graph"></div>
	</div>
</div>

<div class="features">
	<div class="wrapper">
		<h2 class="title">The impact on your business is huge.</h2>
		<div class="one-third one">
			<div class="icon"><%= image_tag('feature-1.png') %></div>
			<h3>Squash Bad Reviews</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
		<div class="one-third two">
			<div class="icon"><%= image_tag('feature-2.png') %></div>
			<h3>Important Feedback</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
		<div class="one-third three">
			<div class="icon"><%= image_tag('feature-3.png') %></div>
			<h3>Automated</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
	</div>
</div>

<div class="how-works">
	<div class="wrapper">
		<h2 class="title">Lightweight Affordable Reputation Management</h2>
		<div class="diagram"></div>
		<div class="list">
			<div class="list-item">
				<div class="number one"><span>1</span></div>
				<p class="description">Easily import your current customers by
excel and manually. We also offer custom
solutions to integrate with existing 
software.</p>
			</div>
			<div class="list-item">
				<div class="number two"><span>2</span></div>
				<p class="description">Customers automatically recieve thank you
email and survey after their stay. You can 
view survey results and feedback in realtime.
You can also send emails at other custom
time intervals.</p>
			</div>
			<div class="list-item">
				<div class="number three"><span>3</span></div>
				<p class="description">Positive reviews are succesfully captured 
review sites, you will begin to move up 
the rankings get more customers and increase
revenue, you will also recieve actionable reports
to continuosly improve your service.</p>
			</div>
			<div class="list-item four">
				<div class="number four"><span>4</span></div>
				<p class="description">Good survey results are automatically 
followed up with a suggestions to share
their feedback on reviews sites of your 
choice. Bad feedback is alerted to you 
so you can handle the situation and respond
to the customer personally to solve the 
problem.</p>
			</div>
		</div>
	</div>
</div>

<div class="action-call">
	<div class="wrapper">
		<h2 class="title">Start building a 5 star reputation in only a few minutes a day.</h2>
		<div class="button"><div class="signup">Start Now</div></div>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="top-half">
			<div class="menu">
				<ul>
					<li>Company</li>
					<li>Press</li>
					<li>Contact Us</li>
					<li>Privacy Policy</li>
					<li>Terms of Use</li>
				</ul>
			</div>
			<div class="social"></div>
		</div>
		<div class="bottom-half">
			<p class="question">Questions? Email hello@simplereview.com</p>
			<p class="copyright">Copyright 2013 SimpleReview Inc.</p>
		</div>
	</div>
</div>