<script>
	mixpanel.track("Landing Page Load");
</script>

<script>
    $(function(){
        $(".sites").typed({
            strings: ["TripAdvisor.", "Google.", "Yelp."],
            typeSpeed: 30, // typing speed
            backDelay: 2000, // pause before backspacing
            loop: true, // loop on or off (true or false)
            loopCount: false, // number of loops, false = infinite
            callback: function(){ } // call function after typing is done
        });
    });
</script>


<div class="header">
	<div class="wrapper">
		<%= link_to(root_path) do %><div class="logo"><%= image_tag('logo.png') %></div><% end %>
		<%= link_to("users/new") do %><div class="button"><div class="login">Login</div></div><% end %>
		<ul class="menu">
			<!-- <li>About</li> -->
			<li><%= link_to "Pricing", "pricing" %></li>
		</ul>
	</div>
</div>

<div class="main">
	<div class="wrapper">
		<h1 class="title">Grow your hotel business with good reviews</h1>
		<div class="right-box">
			<div class="text">Prevent bad online reviews before they happen, receive more good reviews, and move up the rankings on <span class='sites'></span></div>
			<div class="reviews"><%= image_tag('reviews.png') %></div>
			<%= link_to("pricing") do %><div class="button" onclick="mixpanel.track('Signup Top Click');"><div class="signup">Start Free Trial Now</div></div><% end %>
		</div>
		<div class="bottom-box" onclick="mixpanel.track('Learn More Click');">
			<div class="learn-more">
				<div class="arrow"></div>
				<div class="text">Learn More</div>
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</div>

<div class="data">
	<div class="wrapper">
		<h2 class="title">Good Reviews Drive Business</h2>
		<div class="one-third">
			<h3>Increase Revenue</h3>
			<p class="number">+11.2%</p>
			<p class="description">The amount you could increase your price with a 20% improvement in ranking.</p>
		</div>
		<div class="one-third">
			<h3>Increase Occupancy</h3>
			<p class="number">49%</p>
			<p class="description">Of travelers find reviews the most useful resource when planning a trip.</p>
		</div>
		<div class="one-third">
			<h3>Increase Feedback</h3>
			<p class="number">X6</p>
			<p class="description">On average 6 times as many guest surveys are completed than number of reviews on social review sites.</p>
		</div>
		<div class="graph"></div>
	</div>
</div>

<div class="features">
	<div class="wrapper">
		<h2 class="title">The things that matter most to your business.</h2>
		<div class="one-third one">
			<div class="icon"><%= image_tag('feature-1.png') %></div>
			<h3>Squash Bad Reviews</h3>
			<p class="description">Squash bad reviews before they happen instead of having to respond to negative reviews once they are already public. Prevention through email follows ups and surveys is proven to be better than damage control. </p>
		</div>
		<div class="one-third two">
			<div class="icon"><%= image_tag('feature-2.png') %></div>
			<h3>Important Feedback</h3>
			<p class="description">Receive good and bad feedback before it is public. We give you clear and actionable reports from your customer surveys so you and your hotel staff can easily understand them.</p>
		</div>
		<div class="one-third three">
			<div class="icon"><%= image_tag('feature-3.png') %></div>
			<h3>Automated</h3>
			<!-- <p class="description">Emails with a survey are automatically sent to a customer after a stay, results are organized and displayed, reviews are filtered, good reviews are encouraged to post to TripAdvisor and bad reviews are brought to your attention.</p> -->
			<p class="description">Manage your reviews and reputation in only a few minutes a day. Many parts of the process are automated and only negative survey results are brought to your attention.</p>
		</div>
	</div>
</div>

<div class="how-works">
	<div class="wrapper">
		<h2 class="title">Lightweight Affordable Reputation Protection</h2>
		<div class="sub-title">How SimpleReview works to get you more good reviews and prevents bad reviews.</div>
	</div>
		
		<div class="feature-item one">
			<div class="wrapper">
			<div class="number"><span>1</span></div>
			<div class="description">
				<h5>Import & Follow Up With Email</h5>
				<p>Easily import your current customers by excel, manually, or by custom integration. After a customer stays at your hotel they will recieve a follow up "Thank You" email along with a survey asking them about their stay. Email content and send times can be custom.  Various deals can be offered as incentives to complete the survey.</p>
			</div>

			<%= image_tag('how-1.png') %>

			</div>
		</div>

		<div class="feature-item two">
			<div class="wrapper">
			<div class="number"><span>2</span></div>
			<div class="description">
				<h5>Filter Surveys</h5>
				<p>Customers who leave positive surveys are then encouraged to share their great experiences on a social review site of your choice. Negative surveys on the other hand are alerted to you. You can then easily respond to the customer and handle the issues before they make a public review. </p>
			</div>

			<%= image_tag('how-2.png') %>

			</div>
		</div>

		<div class="feature-item three">
			<div class="wrapper">
			<div class="number"><span>3</span></div>
			<div class="description">
				<h5>Get More Customers & Actionable Feedback</h5>
				<p> You will receive actionable reports based on the survey results. As a result you can continuously work to improve your service. As time goes on you will increase the number of reviews your hotel receives, while significantly decreasing bad reviews. You will move up the rankings and effortlessly increase business.</p>
			</div>
			
			<%= image_tag('how-3.png') %>

			</div>
		</div>
	<!-- 	<div class="list-item four">
				<div class="number four"><span>4</span></div>
				<p class="description">Recieve actionable reports based on survey results so you can continuosly work to improve your service. Also receive important analytics to track the effectiveness of your email and survey efforts.</p>
			</div> -->
	</div>
</div>

<div class="action-call">
	<div class="wrapper">
		<h2 class="title">Start building a 5 star reputation in only a few minutes a day.</h2>
		<%= link_to("pricing") do %><div class="button" onclick="mixpanel.track('Signup Bottom Click');"><div class="signup">Start Now</div></div><% end %>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="top-half">
			<div class="menu">
				<ul>
					<!-- <li>Company</li> -->
					<li><%= link_to "Pricing", "pricing" %></li>
					<li><a href="mailto:hello@getsimplereview.com">Contact Us</a></li>
				<!-- 	<li>Privacy Policy</li>
					<li>Terms of Use</li> -->
				</ul>
			</div>
			<div class="social"></div>
		</div>
		<div class="bottom-half">
			<p class="question">Questions? Email us at <a href="mailto:hello@getsimplereview.com">hello@getsimplereview.com</a></p>
			<p class="copyright">Copyright 2013 SimpleReview</p>
		</div>
	</div>
</div>