

<div class="header">
	<div class="wrapper">
		<%= link_to(root_path) do %><div class="logo"><%= image_tag('logo.png') %></div><% end %>
		<%= link_to("users/new") do %><div class="button"><div class="login">Login</div></div><% end %>
		<ul class="menu">
			<!-- <li>About</li> -->
			<!-- <li>Pricing <%= link_to "Pricing" %> </li> -->
		</ul>
	</div>
</div>

<!-- zzzzzzzzzzzz -->

<div class="pricing-page">

	<div class="headline">
		<div class="wrapper">
			<h1 class="title">Start building a 5 star reputation in only a few minutes a day.</h1>
			<h3 class="sub-title">Get started with a risk free 14-day trial of SimpleReview today and see the results.</h3>
		</div>
	</div>

	<div class="price-table">
	<div class="wrapper">
		<div class="section">
			<div class="header">
				<div class="price one">
        			<span class="sup">$</span>
        			<span class="amount">49</span>
        			<span class="sub">/MO</span>
      			</div>
      			<div class="plan">Small</div>
      		</div>
      		<%= link_to("users/new") do %><div class="button"><div class="get-started">Get Started Today</div></div><% end %>
			<div class="description">For hotels with 20 rooms or less.</div>
		</div>
		<div class="section">
			<div class="header">
				<div class="price two">
        			<span class="sup">$</span>
        			<span class="amount">129</span>
        			<span class="sub">/MO</span>
      			</div>
      			<div class="plan">Medium</div>
      		</div>
      		<%= link_to("users/new") do %><div class="button"><div class="get-started">Get Started Today</div></div><% end %>
			<div class="description">For hotels with 100 rooms or less.</div>
		</div>
		<div class="section">
			<div class="header">
				<div class="price three">
        			<span class="sup">$</span>
        			<span class="amount">249</span>
        			<span class="sub">/MO</span>
      			</div>
      			<div class="plan">Large</div>
      		</div>
      		<%= link_to("users/new") do %><div class="button"><div class="get-started">Get Started Today</div></div><% end %>
			<div class="description">For hotels with 250 rooms or less.</div>
		</div>
		<div class="section">
			<div class="header">
				<div class="price">
        			<p class="contact-for-pricing">Contact For Pricing</p>
      			</div>
      			<div class="plan">Custom</div>
      		</div>
      		<a href="mailto:hello@simplereview"><div class="button"><div class="get-started">Contact Us Today</div></div></a>
			<div class="description">For hotels with more than 250 rooms and/or multiple locations.</div>
		</div>

	</div>
	</div>

</div>

<!-- zzzzzzzzzzzz -->

<div class="footer">
	<div class="wrapper">
		<div class="top-half">
			<div class="menu">
				<ul>
					<!-- <li>Company</li> -->
					<li><%= link_to "Pricing", "pricing" %></li>
					<li><a href="mailto:hello@simplereview">Contact Us</a></li>
				<!-- 	<li>Privacy Policy</li>
					<li>Terms of Use</li> -->
				</ul>
			</div>
			<div class="social"></div>
		</div>
		<div class="bottom-half">
			<p class="question">Questions? Email us at <a href="mailto:hello@simplereview">hello@simplereview.com</a></p>
			<p class="copyright">Copyright 2013 SimpleReview Inc.</p>
		</div>
	</div>
</div>